<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
    <!-- 事件中直接写js片段 -->
        <button v-on:click="show = !show">点击切换</button><br/>
        <h1 v-if="show">
            Hello World!
        </h1>
        <hr/>
        <div v-if="Math.random()>0.5">
            {{Math.random()}}
        </div>
        <div v-else-if="Math.random()<0.5">
            小于0.5
        </div>
        <div v-else>
            0.5
        </div>
    </div>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                show: true
            }
        });
    </script>
</body>
</html>